{% if block != blank %}
  <div class="baner-wrappper">
    <div class="{% if block.settings.btn_style == "box-image" %}container{% elsif block.settings.btn_style == "full-image-with-padding" %}px{% endif %}">
      {% if block.settings.btn_url !=blank %}
        <a href="block.settings.btn_url" class="d-block">
          <img width="100%" height="auto" src="{{ block.settings.image | img_url: "master" }}" alt="Banner" />
        </a>
      {% else %}
        <img width="100%" height="auto" src="{{ block.settings.image | img_url: "master" }}" alt="Banner" />
      {% endif %}
    </div>
  </div>
{% endif %}