{% if block != blank %}
  <div class="text-baner-wrappper">
    <div class="flex-row">
      <div class="col-lg-4 col">
        g
      </div>
      <div class="col-lg-8 col">
        {% if block.settings.image !=blank %}
          <picture class="d-block">
            <source media="(min-width:667px)" srcset="{{ block.settings.image | img_url: "master" }}">
            <source media="(min-width:220px)" srcset="{% if block.settings.mobile_image != blank %}{{ block.settings.mobile_image | img_url: "master" }}{% else %}{{ block.settings.image | img_url: "master" }}{% endif %}">
            <img width="100%" height="auto" src="{{ block.settings.image | img_url: "master" }}" alt="Banner" />
          </picture>
      {% endif %}
      </div>
    </div>
  </div>
{% endif %}