{% if section.blocks.size > 0 %}
  <section class="sectoin-wrapper section--{{ section.id }}">
    {% for block in section.blocks %}
      {% if block.type == "announcement_block" %}
        {% render "announcement-block", block: block %}
      {% elsif block.type == "text_with_image" %}
        {% render "text-with-image-block", block: block %}
      {% elsif block.type == "large_image" %}
        {% render "large-image-block", block: block %}
      {% endif %}
    {% endfor %}
  </section>
{% endif %}

{% schema %}
  {
    "name": "Econ products",
    "tag": "section",
    "class": "ecom-expert-products",
    "settings": [
      {
        "type": "header",
        "content": "Select products"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ],
    "blocks": [
      {
        "type": "products_block",
        "name": "Products block",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Econ products",
        "blocks": [
          {
            "type": "products_block"
          },
          {
            "type": "products_block"
          },
          {
            "type": "products_block"
          }
        ]
      }
    ]
  }
{% endschema %}