{% if section.blocks.size > 0 %}
  <section class="sectoin-wrapper section--{{ section.id }}">
    <div class="container">
    <div class="flex-row product-grids">
    {% for block in section.blocks %}
      {% assign product = all_products[block.settings.product] %}
        <div class="col col-md-4 col-xs-6 product-grid">
          <a href="{{ product.url }}" class="d-block">
            <div class="product-image d-block w-100" style="background: url({{ product.featured_image.src | product_img_url: "600x" }})"></div>
          </a>
          <button type="button">
            <img src="{{ "icon-plus.svg" | asset_img_url }}" alt="+" />
          </button>
        </div>
    {% endfor %}
    </div>
    </div>
  </section>
{% endif %}

{% schema %}
  {
    "name": "Econ products",
    "tag": "section",
    "class": "ecom-expert-products",
    "settings": [
      {
        "type": "header",
        "content": "Select products"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "checkbox",
        "id": "lightbox",
        "label": "Enable quick view icon",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "products_block",
        "name": "Products block",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "header",
            "content": "Set lightbox icon position"
          },
          {
            "type": "range",
            "default": 0,
            "id": "top",
            "label": "Top distance",
            "max": 100,
            "min": 0,
            "step": 1,
            "unit": "px"
          },
          {
            "type": "range",
            "default": 0,
            "id": "left",
            "label": "Left distance",
            "max": 100,
            "min": 0,
            "step": 1,
            "unit": "px"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Econ products",
        "blocks": [
          {
            "type": "products_block"
          },
          {
            "type": "products_block"
          },
          {
            "type": "products_block"
          }
        ]
      }
    ]
  }
{% endschema %}